{% extends 'base.html'%}
{% block content %}
  <div class="container" style="padding:20px"> 
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Task groups
        </div>
        {% for tasklist in tasks_list %}

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="{% url 'tasklist_detail' tasklist.id %}" > {{ tasklist.name}} </a></li>   
                    
        </ul>
        {% endfor %}
{{count}}
      </div>
    </div>
{% endblock content %}
