{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}


<div class="card text-center">
    <div class="card-header">
        <h1>Edit Task</h1>
    </div>
    <br>
    <div>
           <form action="" method="post" style="padding:10px;">
            {% csrf_token %}
            <!-- <label class="text-monospace" style="font-size:x-large">Title</label>
            <div>{{form.title}}</div>
            <br>
            <label class="text-monospace" style="font-size:x-large">Description</label>
            <div>{{form.description}}</div>
            <br>
            <label class="text-monospace" style="font-size:x-large">Task Group</label>
            <div>{{form.task_list}}</div>
            <br>
            <label class="text-monospace" style="font-size:x-large">Completed</label>
            {{form.completed}}
            <br> -->
            {{ form|crispy }}
            <input type="submit" value="Update" class="btn btn-dark" />
        </form>
    </div>
</div>

{% endblock content %}